html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}
.container {
   background: rgb(255, 250, 250);
  border-radius: 6px;
  height: 763px;
  width: 400px;
  margin-top: 40px;
  box-sizing: border-box;
}
}
main {
  padding: 2rem 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 60ch;
}

hr {
  width: 100%;
}
